<script>
import Vue from 'vue';
import SimpleTable from '@/simple-table.vue';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    SimpleTable
  }
});
</script>

<template>
  <div id="app">
    <simple-table />
  </div>
</template>
